/*html {
	color:#6f6f6f;
	font-family: sans-serif;
}

#inv_list {
	border:2px solid #C0C0C0;
	border-collapse:collapse;
	padding:10px;
	margin:10px;
}

#inv_list th {
	border:1px solid #475894;
	padding:10px;
	background:#6b7cb7;
	color:#f5f5f5;
	
}

#inv_list td {
	border:1px solid #C0C0C0;
	padding:10px;
}

.container {
	display: flex;
}

.main_table {
	width: 100%;
}

.add_product {
	flex: 1 100%;
    padding:10px;
    margin:10px;
    border:2px solid #C0C0C0;
}

.add_product h4 {
    background:#6b7cb7;
	color:#f5f5f5;
    border-bottom: 1px solid #475894;
    padding:20px;
    margin:-10px;
    margin-bottom:10px;
}

.alert {
	background-color: #f57a7a;
	color: white;
	border-radius: 4px;
	padding:5px 10px;
	margin:10px;
	animation: fadein .7s;
	margin-bottom: 20px;
}

.expiring {
	background-color: #FFCCCC;
}

.hide {
	display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.settingsLabel {
	font-size: 14px;
	display:block;
	margin: 10px 0;
}

#saveSettings {
	padding: 10px 20px;
	position: fixed;
	bottom: 10px;
	right:10px;
}

.registerLabel {
    display:block;
}

.registerForm {
    margin:10px 0;    
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input[type=text], input[type=number], select {
    width: 250px;
    padding: 10px;
    box-sizing: content-box;  
}

input[type=checkbox] {
	zoom: 1.3;
}

button {
    padding:10px;
}

#inv_list tr:hover {
	background:#e7eaff;
	transition: all .2s;
}

#removeEntry {
	margin: 20px 10px;
    background: #F0F0F0;
    border: 2px solid #C0C0C0;
    padding: 10px;
}

.footer_action {
	background:white;
	margin:0;
	padding:0;
}

.footer_action button {
	float:right;
}*/



/* DEFAULTS */

html {
	color:#6f6f6f;
	font-family: sans-serif;
	padding:10px;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}


/* FLEX */

.container {
	display:flex;
	padding:5px;
}

/* MAIN */

.main {
	margin-bottom: 55px;
	align-items: flex-start
}

.main_table {
	/*background:#ECECEC;*/
	background: #fbfbfb;
	/*border: 1px solid #ccc;*/
	border:1px solid #e4e4e4;
	margin:5px;
	padding:10px;
}

.add_product {
	background:#ECECEC;
	border: 1px solid #ccc;
	margin:5px;
	padding:10px;
}

/* MAIN > ADD PRODUCT */

.add_product h4 {
	margin: 12px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 23px;
}

.registerLabel {
	display:block;
}

.registerForm {
    margin:10px 0;    
}

.registerCheckbox {
	margin-bottom:10px;
}

input[type=text], input[type=number], select {
    width: 250px;
    padding: 10px;
    box-sizing: content-box;  
}

input[type=checkbox] {
	zoom: 1.3;
}


/* MAIN > TABLE */

tbody tr:hover {
	background:#E0E1E6;
	transition: all .1s;
}

#inv_list {
	border-collapse:collapse;
	padding:10px;
}

#inv_list th {
	padding:15px 10px;
	border-bottom: 1px solid #ccc;
	text-align: left;
}

#inv_list td {
	padding:10px;
}

.table_exp {
	width: 90px;
}


/* Footer */
.footer {
	background:#25AD55;
	position:fixed;
	bottom:0;
	right:0;
	width: 100%;
	padding: 20px 10px;
}
.footer button {
	float:right;
	margin-right:20px;
}

.footer p {
	color:white;
	font-size: 13px;
	display:inline;
	margin:0 0 0 40px;
}

/* UTILS */

.hide {
	display: none;
}